<h1>My awesome page</h1>

<h2>Add new post</h2>

<form action="/posts" method="post">
  <input type="text" name="title">

  <textarea name="content"></textarea>

  <button type="submit">
    Create new post
  </button>
</form>
